@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-[#8F3F66];
    }
}

/* For WebKit browsers like Chrome, Safari */
.your-scrollable-class::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
  }
  
  .your-scrollable-class::-webkit-scrollbar-track {
    background: #22272B; /* Track color */
  }
  
  .your-scrollable-class::-webkit-scrollbar-thumb {
    background-color: #101204; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar */
    border: 2px solid #22272B; /* Optional border to create padding */
  }
  
  /* For Firefox */
  .your-scrollable-class {
    scrollbar-width: thin;
    scrollbar-color: #101204 #22272B;
  }
  