@tailwind base;
@tailwind components;
@tailwind utilities;

.width-fill {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.roundedAndPadding {
  @apply py-[8px] px-[12px] rounded-xl
}

/* For WebKit browsers like Chrome, Safari */
.your-scrollable-class::-webkit-scrollbar {
    width: 2px; /* Adjust width as needed */
  }
  
  .your-scrollable-class::-webkit-scrollbar-track {
    background: #6E776B; /* Track color */
  }
  
  .your-scrollable-class::-webkit-scrollbar-thumb {
    background-color: black; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar */
    border: 2px solid #6E776B; /* Optional border to create padding */
  }
  
  /* For Firefox */
  .your-scrollable-class {
    scrollbar-width: thin;
    scrollbar-color: black #6E776B;
  }
  
  